/***********************/
/* GLOBAL CSS SETTINGS */
/***********************/

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  /*************************/
  /*VARIABILI GLOBALI STILE*/
  /*************************/
  --accent-color: #f87e20;
  --a-hover: grey;
  --a-hover-decoration: rgb(181, 181, 181);
  --box-decoration: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  /*******************************/
  /*VARIABILI GLOBALI STILE LIGHT*/
  /*******************************/
  --main-background-color-white: white;
  --main-container-background-color-white: #fcfcff;
  --border-color-light: rgb(163, 163, 163);
  --border-light: rgb(53, 53, 53) 0.1rem solid;
  --paragraph-color-light: rgb(85, 85, 85);
  --title-color-white: var(--accent-color);
  --subtitle-color-white: white;
  --item-color-light: black;
  --btn-background-hover-light: rgb(53, 53, 53);
  --btn-color-hover-light: var(--accent-color);
  --btn-border-light: rgb(53, 53, 53) 0.1rem solid;
  --btn-color-light: black;
  --btn-2-background-hover-light: var(--accent-color);
  --btn-2-color-hover-light: white;
  /*--btn-2-background-hover-light: rgb(255, 255, 255) 0.1rem solid;*/

  /******************************/
  /*VARIABILI GLOBALI STILE DARK*/
  /******************************/
  --main-background-color-dark: #121212;
  --main-container-background-color-dark: #1e1e1e;
  --border-color-dark: rgb(163, 163, 163);
  --border-dark: rgb(53, 53, 53) 0.1rem solid;
  --paragraph-color-dark: rgb(211, 211, 211);
  /*--title-color-dark: white;*/
  --title-color-dark: var(--accent-color);
  --subtitle-color-dark: rgb(85, 85, 85);
  --item-color-dark: white;
  --btn-color-dark: white;
}

/************************/
/*DIMENSION AND FONT CSS*/
/************************/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 4px;
  line-height: 1.4rem;
}

/* TRANSITION */

a, .btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

/* video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header{
  position: relative;
  color: white;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
} */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  padding: 50%;
  margin-top: 1vh;
  border-radius: 1rem;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  justify-content: center;
  margin: 0 0;
}

.section__pic-container img{
    display: block;
    margin: 0;
    margin-top: 1rem;
    border-radius: 1rem;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  font-size: 1.50rem;
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 0.75rem;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-2 {
  background: none;
}

.btn-container {
  gap: 1rem;
}

.text_more_info {
  text-align: center;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 1rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  border-radius: 1rem;
  text-align: center;
  align-content: center;
}

.details-container p{
  padding-top: 1rem;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-content: center;
  max-width: 100%;
  padding: 24px;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.project-img {
  border-radius: 1rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

.experiences {
  display: flex;
  align-items: center;
  gap: 32px;
}

.experiences h3, p {
  margin: 0;
  padding: 0;
}

.experiences h3 {
  margin-bottom: -14px;
}

/********************/
/*THEMING COLORS CSS*/
/********************/

/***************/
/* TEMA CHIARO */
/***************/

@media (prefers-color-scheme: light) {
  
  body {
    background: var(--main-background-color-white);
  }

  p {
    color: var(--paragraph-color-light);
  }

  a {
    color: var(--title-color-white);
    text-decoration-color: var(--title-color-white);
  }

  a:hover {
    color: var(--a-hover);
    text-decoration-color: var(--a-hover-decoration);
  }

  h1 {
    color: var(--title-color-white);
  }

  .menu-links.open {
    background-color: var(--main-container-background-color-white);
    box-shadow: var(--box-decoration);
  }

  .logo {
    color: var(--title-color-white);
  }

  .hamburger-icon span {
    background-color: var(--item-color-light);
  }

  .menu-links {
    background-color: var(--main-container-background-color-white);
  }

  .btn-color-1,
  .btn-color-2 {
    border: var(--btn-border-light);
  }

  .btn-color-1,
  .btn-color-2:hover {
    background: var(--btn-background-hover-light);
    color: var(--btn-color-hover-light);
  }
  
  .btn-color-1:hover {
    background: var(--btn-2-background-hover-light);
    color: var(--btn-2-color-hover-light);
    border: none;
  }

  .btn-color-2:hover {
    border: var(--btn-2-background-hover-light);
  }

  .details-container {
    background: var(--main-container-background-color-white);
    border: var(--border-color-light);
    border-color: var(--border-color-light);
  }

  /* .experience-sub-title {
    color: red;
  } */

  .color-container {
    border-color: var(--border-color-light);
    background: var(--main-container-background-color-white);
  }

  .project-title {
    color: var(--title-color-white);
  }
  
  .project-btn {
    color: var(--btn-color-light);
    border-color: var(--border-color-light);
  }

  .contact-info-upper-container {
    border: var(--border-color-light);
    border-color: var(--border-color-light);
    background: (250, 250, 250);
  }

}

/**************/
/* TEMA SCURO */
/**************/

@media (prefers-color-scheme: dark) {

  body {
    background: var(--main-background-color-dark);
  }

  p {
    color: var(--paragraph-color-dark);
  }

  .hamburger-icon span {
    background-color: var(--item-color-dark);
  }

  a {
    color: var(--title-color-dark);
    text-decoration-color: var(--title-color-dark);
  }

  a:hover {
    color: var(--a-hover);
    text-decoration-color: var(--a-hover-decoration);
  }

  h1 {
    color: var(--title-color-dark);
  }

  h3 {
    color: var(--title-color-dark);
  }

  .menu-links.open {
    background-color: #4e4e4e;
    box-shadow: var(--box-decoration);
  }

  .logo {
    color: var(--title-color-dark);
  }

  .details-container {
    background: var(--main-container-background-color-dark);
    border: var(--border-dark);
    border-color: var(--border-color-dark);
  }

  .experience-sub-title {
    color: var(--subtitle-color-dark);
  }

  .color-container {
    border-color: var(--border-color-dark);
    background: var(--main-container-background-color-dark);
  }

  .project-title {
    color: var(--title-color-dark);
  }
  
  .project-btn {
    color: var(--btn-color-dark);
    border-color: var(--border-color-dark);
  }

  .contact-info-upper-container {
    border: var(--border-dark);
    border-color: var(--border-color-dark);
  }

  .btn-color-2 {
    color: var(--btn-color-dark);
  }

  .btn-color-1,
  .btn-color-2 {
    border: var(--btn-border-light);
  }

  .btn-color-1,
  .btn-color-2:hover {
    background: var(--btn-background-hover-light);
    color: var(--btn-color-hover-light);
  }
  
  .btn-color-1:hover {
    background: var(--btn-2-background-hover-light);
    color: var(--btn-2-color-hover-light);
    border: none;
  }

  .btn-color-2:hover {
    border: var(--btn-2-background-hover-light);
  }
}